body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #2b0642;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-header .navbar-brand i {
    margin-right: 8px;
}

.navbar-middle a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #e91e63;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h2 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.mcontainer {
    max-width: 1300x;
    margin: 0 auto;
    padding: 20px;
    min-height: 77vh;
}

main {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: smaller;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section {
    flex: 1 1 calc(30% - 20px);
    margin: 0px 30px;
}

.form-section label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-section input,
.form-section textarea,
.form-section select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button.btn {
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: 80px;
    margin-right: 150px;
}

button.btn:hover {
    background-color: #e91e63;
}

.footer {
    background-color: #2b0642;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4b0082;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c935c0;
}
